<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Configurable Objects
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon flaticon-list-2"></i>
                    </a>
                </li>
            </ul>

        </div>
    </div>
</div>

<div class="m-content" style="padding-top:15px;">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__body">
            <!--begin: Datatable -->
            <div class="m_datatable" id="configObjects"></div>
            <!--end: Datatable -->
        </div>
        <div class="modal fade" id="configObjectModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div style="height:60px;" class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            Configurable Objects
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">
                                &times;
                            </span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <form (ngSubmit)="onSubmit(CommerceValue.valid, ErpValue.valid, EntityType.valid)" #f="ngForm" class="m-login__form m-form">

                            <div class="form-group">
                                <label class="form-control-label">
                                    Configurable Object Id : {{configObject.Id}}
                                </label>

                            </div>
                            <div class="form-group">
                                <small *ngIf="showError" class="text-danger">
                                    Please fill at least one field either Commerce value or ERP value.
                                </small>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">
                                    Commerce Value:
                                </label>
                                <input maxlength="100" type="text" class="form-control m-input" required name="CommerceValue" #CommerceValue="ngModel" [(ngModel)]="configObject.ComValue"
                                    autocomplete="off">
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">
                                    ERP Value:
                                </label>
                                <input maxlength="100" type="text" class="form-control m-input" required name="ErpValue" #ErpValue="ngModel" [(ngModel)]="configObject.ErpValue"
                                    autocomplete="off">
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">
                                    Entity Type:
                                </label>
                                <input maxlength="100" type="text" class="form-control m-input" required name="EntityType" #EntityType="ngModel" [(ngModel)]="configObject.EntityType"
                                    autocomplete="off">
                                    <div class="form-group">
                                        <small *ngIf="showErrorEntityType" class="text-danger">
                                            Please fill Entity Type.
                                        </small>
                                    </div>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">
                                    Connector Key:
                                </label>
                                <input maxlength="100" type="text" class="form-control m-input" required name="ConnectorKey" #ConnectorKey="ngModel" [(ngModel)]="configObject.ConnectorKey"
                                    autocomplete="off">
                            </div>
                            <div style="height:50px;" class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                    Close
                                </button>
                                <button type="submit" class="btn btn-primary">
                                    Update
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>