<!-- BEGIN: Subheader -->
<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title">
				My Profile
			</h3>
		</div>

	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<div class="row">
		<div class="col-lg-3">
			<div class="m-portlet m-portlet--full-height">
				<div class="m-portlet__body">
					<div class="m-card-profile">
						<div class="m-card-profile__title m--hide">
							Your Profile
						</div>
						<div class="m-card-profile__pic">
							<div class="m-card-profile__pic-wrapper">
								<img src="./assets/app/media/img/users/user.png" alt="" />
							</div>
						</div>
						<div class="m-card-profile__details">
							<span class="m-card-profile__name">
								{{appUser.FirstName}} {{appUser.LastName}}
							</span>
							<a href="" class="m-card-profile__email m-link">
								{{appUser.Email}}
							</a>
						</div>
					</div>


				</div>
			</div>
		</div>
		<div class="col-lg-9">
			<div class="m-portlet m-portlet--full-height m-portlet--tabs">
				<div class="m-portlet__head">
					<div class="m-portlet__head-tools">
						<ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary" role="tablist">
							<ng-container *ngIf="isSuperAdmin">
								<li class="nav-item m-tabs__item">
									<a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_user_profile_tab_1" role="tab">
										<i class="flaticon-share m--hide"></i>
										Create User
									</a>
								</li>
							</ng-container>
							<li class="nav-item m-tabs__item">
								<a [ngClass]="{'active' : isSuperAdmin == false}" class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_profile_tab_2" role="tab">
									Change Password
								</a>
							</li>

						</ul>
					</div>

				</div>
				<div class="tab-content">
					<ng-container *ngIf="isSuperAdmin">
						<div class="tab-pane active" id="m_user_profile_tab_1">
							<form autocomplete="off" (ngSubmit)="onSubmit(f.valid)" #f="ngForm" class="m-form m-form--fit m-form--label-align-right">
								<div class="m-portlet__body">
									<div class="form-group m-form__group row">
										<label class="col-2 col-form-label">
											First Name
										</label>
										<div class="col-7">
											<input #firstName="ngModel" required minlength="3" maxlength="100" autocomplete="off" class="form-control m-input" name="firstName"
											 type="text" [(ngModel)]="newUser.FirstName">
											<small *ngIf="(firstName.invalid && showError)" class="text-danger">
												First Name is required (minimum 3 characters).
											</small>
										</div>
									</div>
									<div class="form-group m-form__group row">
										<label class="col-2 col-form-label">
											Last Name
										</label>
										<div class="col-7">
											<input #lastname="ngModel" minlength="3" required maxlength="100" autocomplete="off" class="form-control m-input" type="text"
											 name="lastname" [(ngModel)]="newUser.LastName">
											<small *ngIf="(lastname.invalid && showError)" class="text-danger">
												Last Name is required (minimum 3 characters).
											</small>
										</div>
									</div>
									<div class="form-group m-form__group row">
										<label class="col-2 col-form-label">
											User Name
										</label>
										<div class="col-7">
											<input minlength="3" (blur)="verifyUserName(username.value, username.valid)" #username="ngModel" required maxlength="100"
											 autocomplete="off" class="form-control m-input" type="text" name="username" [(ngModel)]="newUser.UserName">
											<small *ngIf="(username.invalid && showError)" class="text-danger">
												User Name is required (minimum 3 characters).
											</small>
											<small *ngIf="isUserNameTaken" class="text-danger">
												User name is already taken. Please try another user name.
											</small>
										</div>
									</div>
									<div class="form-group m-form__group row">
										<label class="col-2 col-form-label">
											Email
										</label>
										<div class="col-7">
											<input #mail="ngModel" (input)="resetError()" required pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$" maxlength="100" autocomplete="off" class="form-control m-input"
											 type="email" name="mail" [(ngModel)]="newUser.Email">
											<small *ngIf="(mail.invalid && showError)" class="text-danger">
												Please provide valid email address.
											</small>
											<small *ngIf="(mail.valid && isEmailRegistered)" class="text-danger">
												User is already registered with provided email. Please provide another email.
											</small>
										</div>
									</div>
									<div class="form-group m-form__group row">
										<label class="col-2 col-form-label">
											Password
										</label>
										<div class="col-7">
											<input #pass="ngModel" required pattern="^(?=.*[A-Z])(?=.*[0-9])(?=.*[a-z]).{6,}$" maxlength="50" autocomplete="new-password"
											 class="form-control m-input" type="password" name="pass" [(ngModel)]="newUser.Password">
											<small *ngIf="(pass.invalid && showError)" class="text-danger">
												Password should be six characters long and contain a number, a lowercase letter and a capital case letter.
											</small>
										</div>
									</div>
									<div class="form-group m-form__group row">
										<label class="col-2 col-form-label">
											User Role
										</label>
										<div class="col-7">
											<select [(ngModel)]="selectedRole" #role="ngModel" class="form-control m-input m-input--air" style="box-shadow:0px 0px 0px 0px;"
											 name="role">
												<option value="PS" selected>Please Select</option>
												<option *ngFor="let role of UserRoles;" [ngValue]="role.Value">{{role.Value}}</option>
											</select>
											<small *ngIf="selectedRole=='PS' && showError" class="text-danger">
												User Role is required.
											</small>
										</div>
									</div>
									<div *ngIf="selectedRole!='SuperAdmin'" class="form-group m-form__group row">
										<label class="col-2 col-form-label">
											App Store
										</label>
										<div class="col-7">
											<select [(ngModel)]="selectedStore" #store="ngModel" class="form-control m-input m-input--air" style="box-shadow:0px 0px 0px 0px;"
											 name="store">
												<option value="-1" selected>Please Select</option>
												<option *ngFor="let store of AppStores;" [ngValue]="store.Key">{{store.Value}}</option>
											</select>
											<small *ngIf="selectedStore=='-1' && showError" class="text-danger">
												App Store is required.
											</small>
										</div>
									</div>
								</div>
								<div class="m-portlet__foot m-portlet__foot--fit">
									<div class="m-form__actions">
										<div class="row">
											<div class="col-2"></div>
											<div class="col-7">
												<button type="submit" class="btn btn-primary">
													Add User
												</button> &nbsp;&nbsp;
												<button (click)="resetForm()" type="button" class="btn btn-secondary m-btn m-btn--custom">
													Reset
												</button>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</ng-container>
					<div class="tab-pane" [ngClass]="{'active' : isSuperAdmin == false}" id="m_user_profile_tab_2">
						<form class="m-form m-form--fit m-form--label-align-right">
							<div class="m-portlet__body">
								<div class="form-group m-form__group row">
									<label for="example-text-input" class="col-2 col-form-label">
										New Password
									</label>
									<div class="col-7">
										<input class="form-control m-input" type="password">
									</div>
								</div>
								<div class="form-group m-form__group row">
									<label for="example-text-input" class="col-2 col-form-label">
										Confirm New Password
									</label>
									<div class="col-7">
										<input class="form-control m-input" type="password">
									</div>
								</div>

							</div>
							<div class="m-portlet__foot m-portlet__foot--fit">
								<div class="m-form__actions">
									<div class="row">
										<div class="col-2"></div>
										<div class="col-7">
											<button type="reset" class="btn btn-accent m-btn m-btn--air m-btn--custom">
												Save changes
											</button> &nbsp;&nbsp;
											<button type="reset" class="btn btn-secondary m-btn m-btn--air m-btn--custom">
												Cancel
											</button>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>