<div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Price Book
                    <small>
                        
                    </small>
                </h3>
            </div>
        </div>
        <div class="form-group m-form__group row align-items-center">
            <div class="col-md-6"></div>
            <div class="col-md-6" style="margin-top:1.2rem;">
                <div class="m-input-icon m-input-icon--left">
                    <input (keyup)="searchData($event)" name="searchQuery" [(ngModel)]="searchQuery" class="form-control m-input m-input--solid"
                        placeholder="Product Id" id="m_form_search">
                    <span (click)="searchData($event)" style="cursor: pointer; cursor: hand;" class="m-input-icon__icon m-input-icon__icon--left">
                        <span>
                            <i class="la la-search"></i>
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="m-portlet__body">
        <!--begin: Search Form -->

        <!--end: Search Form 
        begin: Datatable -->
        <!-- <table id="productLog" class="m_datatable" width="100%" cellspacing="0">

        </table> -->
        <div class="m_datatable" id="priceBookTable"></div>

        <!--end: Datatable -->
    </div>
</div>

