<ng-template #content let-modal style="max-width: 75%">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add Hot Items</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="alert alert-danger" role="alert" *ngIf="this.popularProducts.length == 6">
            You can add maximum 6 hot items
        </div>
        <jqxGrid #GridPopularProducts [width]='620' [source]='dataAdapter' [pageable]='true' [autoheight]='true'
            [selectedrowindexes]="customerInfo?.SelectedRowsIndexes" (onRowselect)="SelectPopularProductsFromGrid($event)"
            (onRowunselect)="UnSelectPopularProductsFromGrid($event)" [sortable]='true' [columns]='columns'
            [filterable]="true" [showfilterrow]="true" [altrows]="false" [selectionmode]="'checkbox'">
        </jqxGrid>


    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Save</button>
    </div>
</ng-template>
<!-- Modal For Select Product -->
<ng-template #SelectProductModal let-modal className="tets">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title1">Select Product</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <jqxGrid #ProductGrid [width]='590' [source]="dataAdapter" [columns]="columns" [pageable]="true"
            [columnsresize]="true" [autoheight]="true" [filterable]="true"  [showfilterrow]="true" (onRowselect)="SelectProductForCart($event)">
        </jqxGrid>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">OK</button>
    </div>
</ng-template>


<!--<strong class="heading-tag">New Purchase Cart</strong>-->
<div class="content-block">
    <div class="content-spinner" [ngClass]="!customerInfo?.CustomerLoaded ? 'active' : '' ">
        <div class="holder">
            <img src="../../../../assets/images/spinner1.gif" />
        </div>
    </div>
    <div class="content pb-5">
        <strong class="text-tag">Purchase Type?</strong>

        <ul class="purchase-type list-inlilne">
            <!-- by setting class active on acnhor the active state will show up -->
            <li class="list-inline-item"><a (click)="changePurchaseType('new-order')" [ngClass]="purchaseType == 'new-order' ? 'active' : ''"
                    class="active btn btn-secondary"><i class="icon-add-outline"></i> New Order</a></li>
            <li class="list-inline-item"><a (click)="changePurchaseType('swtich')" [ngClass]="purchaseType == 'swtich' ? 'active' : ''"
                    class="btn btn-secondary"><i class="icon-bolt"></i> Switch</a></li>
            <li class="list-inline-item"><a (click)="changePurchaseType('transfer')" [ngClass]="purchaseType == 'transfer' ? 'active' : ''"
                    class="btn btn-secondary"><img src="../../../../assets/images/icon4.png" alt=""> Transfer</a></li>
            <li class="list-inline-item"><a (click)="changePurchaseType('update')" [ngClass]="purchaseType == 'update' ? 'active' : ''"
                    class="btn btn-secondary"><i class="icon-loop"></i> Update</a></li>
            <li class="list-inline-item"><a (click)="changePurchaseType('upgrade')" [ngClass]="purchaseType == 'updgrade' ? 'active' : ''"
                    class="btn btn-secondary"><i class="icon-arrow-up-circle"></i> Upgrade</a></li>
            <li class="list-inline-item"><a (click)="changePurchaseType('migrate')" [ngClass]="purchaseType == 'migrate' ? 'active' : ''"
                    class="btn btn-secondary"><i class="icon-migrate"></i> Migrate</a></li>
            <!-- <li class="list-inline-item"><a (click)="changePurchaseType('nq')" [ngClass]="purchaseType == 'nq' ? 'active' : ''" class="btn btn-secondary"><img src="../../../../images/icon5.png" alt=""> New Quotation</a></li>
                <li class="list-inline-item"><a (click)="changePurchaseType('nuq')" [ngClass]="purchaseType == 'nuq' ? 'active' : ''" class="btn btn-secondary"><img src="../../../../images/icon6.png" alt=""> New Upgrade Quotation</a></li> -->
        </ul>
        <strong class="text-tag">Hot Items</strong>
        <ul class="product-list list-inlilne">
            <!-- by setting class active on acnhor the active state will show up -->

            <li *ngFor="let popularproduct of customerInfo?.CustomerPopularProducts" class="list-inline-item" (click)="addNewLineItem(popularproduct.Value)">
                <a class="btn btn-secondary">{{popularproduct.Text}}<span class="icon"></span></a>
            </li>
            <li class="list-inline-item">
                <a (click)="openModal(content)" class="add-item"><strong><span class="title"> Add Hot Items</span>Upto
                        6
                        Items</strong></a>
            </li>
        </ul>
        <div class="row">
            <div class="col-lg-9 pr-lg-0 mb-3 mb-lg-0">
                <div class="card">
                    <div class="header">
                        <span class="card-title">Cart</span>
                        <ul class="links list-inlilne" style="color: white;">
                            <li class="list-inline-item"><a (click)="removeSelectedRows()" class="delete-cart"
                                    [ngClass]="IsEnableDelete ? 'enabled' : ''"><span class="icon-close"></span>
                                    Delete</a></li>
                            <li class="list-inline-item"><a (click)="addNewLineItem();" class="btn btn-primary"><span
                                        class="icon-plus"></span>
                                    Add New Item</a></li>
                            <!-- <li class="list-inline-item"><a (click)="removeSelectedRows()" class="btn btn-danger"><span class="icon-delete"></span> Remove Selected</a></li> -->
                            <li class="list-inline-item"><a (click)="ClearCart();" class="btn btn-danger"><span class="icon-delete"></span>
                                    Clear Cart</a></li>
                            <li class="list-inline-item"><a (click)="CreateCartLine();" class="btn btn-primary"><span
                                        class="icon-save"></span>
                                    Save Cart</a></li>
                        </ul>
                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="cart-table">
                                <tr>
                                    <th class="item-no"><input type="checkbox" name="checkbox" id="item" [checked]="isAllChecked()"
                                            (change)="selectAllRows($event)"><label for="item">Item No.</label></th>
                                    <th class="product-name">Product Name</th>
                                    <th class="qty">Quantity</th>
                                    <th class="unit">Unit</th>
                                    <th class="billing-i">Billing Interval</th>
                                    <th class="offer-type">Offer Type</th>
                                    <th class="v-from">Valid from</th>
                                    <th class="v-to">Valid to</th>
                                    <!-- <th class="currency">Currency</th> -->
                                    <th class="tax" colspan="2">Tax</th>
                                    <th class="addons">Add-ons</th>
                                </tr>
                                <!-- this is a pair of table rows and it will be that represnts a data of single row -->
                                <tr>
                                    <td colspan="11" class="p-0">
                                        <table class="loop-table" *ngFor="let pd of cart.CartLines; let pdIndex = index">
                                            <tr [ngClass]="pd.IsSelected ? 'selected-product' : ''">
                                                <td class="item-no"><input type="checkbox" value="{{pd.ItemId}}"
                                                        [(ngModel)]="pd.IsSelected" (change)="EnableDelete();" />
                                                    <label for="rand-number">{{pd.MasterItemId}}</label>
                                                </td>
                                                <td class="product-name" (click)="selectProductModal(SelectProductModal, pd.LineId)">
                                                    {{pd.name}}
                                                </td>

                                                <td *ngIf="pdIndex == editRowId" class="qty">
                                                    <div class="tooltip-state" [ngClass]="!pd.IsValidQuantity? 'tooltip-error' : ''">
                                                        <input type="text" [(ngModel)]="pd.Quantity" (ngModelChange)="onModelChange($event)"
                                                            (change)="OnItemQuantityChange(pd);CalculateMDSQuantity(pd);" />
                                                        <span class="tooltip-text">Invalid quantity</span>
                                                    </div>
                                                </td>
                                                <td class="qty" *ngIf="pdIndex !== editRowId" (click)="toggleEdit(pdIndex)">
                                                    <div class="tooltip-state" [ngClass]="!this.pd.IsValidQuantity? 'tooltip-error' : ''">
                                                        {{pd.Quantity}}
                                                        <span class="tooltip-text">Invalid quantity</span>
                                                    </div>
                                                </td>

                                                <td class="unit">{{pd.UnitOfMeasureSymbol}}</td>

                                                <td *ngIf="pdIndex == editRowId" class="billing-i">
                                                    <span class="fake-select">
                                                        <select (change)="selectOption($event.target.value,'customerCountry')"
                                                            (ngModelChange)="onModelChange($event)">
                                                            <option value="{{pd.billingInterval}}">{{pd.billingInterval}}</option>
                                                        </select>
                                                    </span>
                                                </td>
                                                <td class="billing-i" *ngIf="pdIndex !== editRowId" (click)="toggleEdit(pdIndex)">
                                                    {{pd.billingInterval}}
                                                </td>
                                                <td *ngIf="pdIndex == editRowId" class="offer-type">
                                                    <span class="fake-select">
                                                        <select (change)="selectOption($event.target.value,'customerCountry')"
                                                            (ngModelChange)="onModelChange($event)">
                                                            <option value="{{pd.offerType}}">{{pd.offerType}}</option>
                                                        </select>
                                                    </span>
                                                </td>
                                                <td class="offer-type" *ngIf="pdIndex !== editRowId" (click)="toggleEdit(pdIndex)">
                                                    {{pd.offerType}}
                                                </td>
                                                <td class="v-from">
                                                    <!-- <input type="text"
                                                    placeholder="From"
                                                    class="form-control"
                                                    bsDatepicker
                                                    [(ngModel)]="pd.validFrom"
                                                    /> -->
                                                    {{ pd.validFrom }}
                                                </td>
                                                <td class="v-to">
                                                    <!-- <input type="text"
                                                        placeholder="From"
                                                        class="form-control"
                                                        bsDatepicker
                                                        [(ngModel)]="pd.validFrom"
                                                    /> -->
                                                    {{pd.validTo}}
                                                </td>
                                                <!-- <td class="currency">{{pd.currency}}</td> -->
                                                <td class="tax" colspan="2">{{pd.LineSummary.Tax}}</td>
                                                <td class="addons">
                                                    <ul class="toggle-btn list-inlilne">
                                                        <li *ngFor="let adons of pd.adOnDetails; let adoneId = index"
                                                            class="list-inline-item">
                                                            <a (ngModelChange)="onModelChange($event)" (click)="AddAdOn(adons);CalculateMDSQuantity(pd);"
                                                                class="btn" [ngClass]="adons.IsAddonSelected ? 'active' : ''">{{adons.name}}</a>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>

                                            <tr *ngFor="let adon of pd.adOnDetails; let child = index;" [ngClass]="pd.IsSelected ? 'selected-product' : ''">
                                                <td *ngIf="adon.IsAddonSelected" class="p-0" colspan="11">
                                                    <div class="addon-wrap">
                                                        <table class="addon-table">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="item-no">{{adon.MasterItemId}}</td>
                                                                    <td class="product-name">
                                                                        <span class="fake-select">
                                                                            <select>
                                                                                <option>{{adon.name}}</option>
                                                                            </select>
                                                                        </span>
                                                                    </td>
                                                                    <td class="qty">
                                                                        <div class="tooltip-state" [ngClass]="!adon.IsValidQuantity? 'tooltip-error' : ''">
                                                                            <input type="text" [(ngModel)]="adon.Quantity"
                                                                                (change)="OnItemQuantityChange(adon);CalculateMDSQuantity(pd);"
                                                                                (ngModelChange)="onModelChange($event)"
                                                                                [disabled]="adon.IsChannel" />
                                                                            <span class="tooltip-text">Quantity is
                                                                                Exceeded</span>
                                                                        </div>
                                                                    </td>
                                                                    <td class="unit">{{ adon.UnitOfMeasureSymbol }}</td>
                                                                    <td class="billing-i">
                                                                        <span class="fake-select">
                                                                            <select (ngModelChange)="onModelChange($event)">
                                                                                <option>{{adon.billingInterval}}</option>
                                                                            </select>
                                                                        </span>
                                                                    </td>
                                                                    <td class="offer-type">
                                                                        <span class="fake-select">
                                                                            <select (ngModelChange)="onModelChange($event)">
                                                                                <option>{{adon.offerType}}</option>
                                                                            </select>
                                                                        </span>
                                                                    </td>
                                                                    <td class="v-from">{{pd.validFrom}}</td>
                                                                    <td class="v-to">{{pd.validTo}}</td>
                                                                    <!-- <td class="currency">{{adon.currency}}</td> -->
                                                                    <td class="tax" colspan="2">{{adon.LineSummary.Tax}}</td>
                                                                    <td class="addons">
                                                                        <div class="text-right">
                                                                            <a class="add-discount" (click)="addDiscountRow(adon, adon.ItemId);">
                                                                                <span class="icon-plus"></span> Add
                                                                                Discount
                                                                            </a>
                                                                            <a class="delete" (click)="removeAdon(adon);">
                                                                                <span class="icon-delete"></span>
                                                                            </a>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr *ngIf="adon.DiscountDetails.length > 0">
                                                                    <td colspan="11" class="addon-disc">
                                                                        <div class="arrow-holder">
                                                                            <table class="sub-table">
                                                                                <tr *ngFor="let AdonDisc of adon.DiscountDetails;  let addiscIndex = index">
                                                                                    <td>
                                                                                        <label for="d-origin">Discount
                                                                                            Origin</label>
                                                                                        <span>
                                                                                            <b *ngIf="AdonDisc.periodicDiscount">Periodic
                                                                                                Discount</b>
                                                                                            <b *ngIf="!AdonDisc.periodicDiscount">Manual
                                                                                                Discount</b>
                                                                                        </span>
                                                                                    </td>
                                                                                    <td>
                                                                                        <label for="r-origin">Reason
                                                                                            Code</label>
                                                                                        <span *ngIf="AdonDisc.periodicDiscount"><b>8</b></span>
                                                                                        <span class="fake-select" *ngIf="!AdonDisc.periodicDiscount">
                                                                                            <select id="r-origin"
                                                                                                [(ngModel)]="AdonDisc.DiscountCode">
                                                                                                <option *ngFor="let reason of ddlDiscountReason"
                                                                                                    value="{{ reason.Value }}">{{reason.Text}}</option>
                                                                                            </select>
                                                                                        </span>
                                                                                    </td>
                                                                                    <td>
                                                                                        <label for="d-method">Discount
                                                                                            Method</label>
                                                                                        <b *ngIf="AdonDisc.periodicDiscount">Cash
                                                                                            Amount</b>
                                                                                        <span class="fake-select" *ngIf="!AdonDisc.periodicDiscount">
                                                                                            <select id="d-method"
                                                                                                [(ngModel)]="AdonDisc.Method"
                                                                                                (change)="OnManualDiscountChange(adon, AdonDisc);">
                                                                                                <option *ngFor="let dmethods of discountMethods;"
                                                                                                    value="{{dmethods.Value}}">{{dmethods.Text}}</option>
                                                                                            </select>
                                                                                        </span>
                                                                                    </td>
                                                                                    <td>
                                                                                        <label for="d-of">Discount of</label>
                                                                                        <b *ngIf="AdonDisc.periodicDiscount">{{AdonDisc.DiscountAmount}}</b>
                                                                                        <input type="text" class="InputBox60"
                                                                                            *ngIf="!AdonDisc.periodicDiscount"
                                                                                            [(ngModel)]="AdonDisc.Amount"
                                                                                            (change)="OnManualDiscountChange(adon, AdonDisc);"
                                                                                            value="0" id="d-origin" />
                                                                                    </td>
                                                                                    <td><span>Monthly Price: <b>
                                                                                                {{AdonDisc.MonthlyPrice}}</b></span></td>
                                                                                    <td>Interval: <b>{{AdonDisc.Interval}}</b></td>
                                                                                    <td>Next Price: <b>
                                                                                            {{AdonDisc.NextPrice}}</b></td>
                                                                                    <td><a (click)="removeDiscountLine(adon.DiscountDetails,addiscIndex);"
                                                                                            class="delete"><span class="icon-delete"
                                                                                                *ngIf="!AdonDisc.periodicDiscount"
                                                                                                style="color: red;"></span></a></td>
                                                                                </tr>
                                                                            </table>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr [ngClass]="pd.IsSelected ? 'selected-product' : ''">
                                                <td colspan="11">
                                                    <div class="text-right">
                                                        <a (click)="addDiscountRow(pd, pd.ItemId)" class="add-discount"><span
                                                                class="icon-plus"></span> Add Discount </a>
                                                    </div>
                                                </td>
                                            </tr>

                                            <!-- this row is assoicated with top row -->
                                            <tr *ngIf="pd.DiscountDetails.length > 0" [ngClass]="pd.IsSelected ? 'selected-product' : ''">
                                                <td colspan="11">
                                                    <div class="arrow-holder">
                                                        <table class="sub-table">
                                                            <tr *ngFor="let pdDisc of pd.DiscountDetails; let adIndex = index">
                                                                <td *ngIf="pdDisc.periodicDiscount">
                                                                    <span>Discount Origin: <b>Periodic Discount</b></span>
                                                                </td>
                                                                <td *ngIf="!pdDisc.periodicDiscount">
                                                                    <label for="d-origin">Discount Origin</label>
                                                                    <span>Manual Discount</span>
                                                                </td>
                                                                <td *ngIf="pdDisc.periodicDiscount">
                                                                    <span>Reason Code: <b>8</b></span>
                                                                </td>
                                                                <td *ngIf="!pdDisc.periodicDiscount">
                                                                    <label for="r-origin">Reason Code</label>
                                                                    <span class="fake-select">
                                                                        <select id="r-origin" [(ngModel)]="pdDisc.DiscountCode">
                                                                            <option *ngFor="let reason of ddlDiscountReason"
                                                                                value="{{reason.Value}}">{{ reason.Text
                                                                                }}</option>
                                                                        </select>
                                                                    </span>
                                                                </td>
                                                                <td *ngIf="pdDisc.periodicDiscount">
                                                                    <span>Discount Method: <b>Cash Amount</b></span>
                                                                </td>
                                                                <td *ngIf="!pdDisc.periodicDiscount">
                                                                    <label for="d-method">Discount Method</label>
                                                                    <span class="fake-select">
                                                                        <select id="d-method" [(ngModel)]="pdDisc.Method"
                                                                            (change)="OnManualDiscountChange(pd, pdDisc);">
                                                                            <option *ngFor="let dmethods of discountMethods; let dmIndex = index"
                                                                                value="{{dmethods.Value}}">{{dmethods.Text}}</option>
                                                                        </select>
                                                                    </span>
                                                                </td>
                                                                <td *ngIf="pdDisc.periodicDiscount">
                                                                    <span>Discount of: <b>{{pdDisc.DiscountAmount}}</b></span>
                                                                </td>
                                                                <td *ngIf="!pdDisc.periodicDiscount">
                                                                    <label for="d-of">Discount of</label>
                                                                    <input type="text" class="InputBox60" value="0" id="d-origin"
                                                                        [(ngModel)]="pdDisc.Amount" (change)="OnManualDiscountChange(pd, pdDisc);" />
                                                                </td>
                                                                <td>
                                                                    <span>Monthly Price: <b> {{pdDisc.MonthlyPrice}}</b></span>
                                                                </td>
                                                                <td>Interval: <b>{{pdDisc.Interval}}</b></td>
                                                                <td>Next Price: <b> {{pdDisc.NextPrice}}</b></td>
                                                                <td *ngIf="pdDisc.periodicDiscount"></td>
                                                                <td *ngIf="!pdDisc.periodicDiscount">
                                                                    <a (click)="removeDiscountLine(pd.DiscountDetails, adIndex);"
                                                                        class="delete"><span class="icon-delete" style="color: red;"></span></a>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr [ngClass]="pd.IsSelected ? 'selected-product' : ''">
                                                <td colspan="11">
                                                    <div class="totals row align-items-center">
                                                        <div class="col-sm-6"><strong class="grand-amount">Total:
                                                                {{customerInfo?.CurrencyCode}} <span>
                                                                    {{ (pd.LineSummary.GrandTotal).toFixed(2) }}</span>
                                                            </strong></div>
                                                        <div class="col-sm-6 border-left text-right">
                                                            <dl>
                                                                <dt>For: </dt>
                                                                <dd>{{ pd.license }} </dd>
                                                            </dl>
                                                            <dl>
                                                                <dt>License: </dt>
                                                                <dd>{{ (pd.LineSummary.Total -
                                                                    pd.LineSummary.ManualDiscount).toFixed(2) |
                                                                    number}}
                                                                </dd>
                                                            </dl>
                                                            <dl>
                                                                <dt>Addon:</dt>
                                                                <dd>{{ (pd.AdonLineSummary.Total -
                                                                    pd.AdonLineSummary.ManualDiscount).toFixed(2) |
                                                                    number}}
                                                                </dd>
                                                            </dl>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>

                                        </table>
                                    </td>
                                </tr>


                                <!-- ends here -->
                            </table>
                            <div class="empty-quote" *ngIf="cart.CartLines.length == 0">
                                <div class="holder">
                                    <strong class="title"><span *ngIf="IsQuote">Your Quotation is Empty</span> <span
                                            *ngIf="!IsQuote">Your
                                            Cart is Empty</span> </strong>
                                    <p>Start by Adding the Hot Items from top </p>
                                    <p>OR</p>
                                    <p>Add custom items</p>
                                    <a (click)="addNewLineItem();" class="btn btn-primary"><span class="icon-plus"></span>
                                        Add New Item</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card">
                    <div class="header">
                        <span class="card-title">Summary</span>
                    </div>
                    <div class="card-body">
                        <div class="plan-box">
                            <div class="spinner" [ngClass]="isLoadingSummary ? 'active': '' ">
                                <div class="holder">
                                    <img src="../../../../assets/images/spinner1.gif" />
                                </div>
                            </div>
                            <ul class="plan-list" *ngFor="let pd of cart.CartLines; let i = index">
                                <li><span class="product-name">Subscription of {{pd.name}}</span></li>
                                <li><span class='sub-title'> Product Price </span><span class="num">
                                        {{ pd.LineSummary.Price | number }}
                                    </span></li>
                                <li><span class='sub-title'>Add-on Price </span> <span class="num">
                                        {{ pd.AdonLineSummary.Price | number}}</span></li>
                                <li><span class='sub-title'>Discount </span> <span class="num">
                                        {{ (pd.LineSummary.PriodicDiscount + pd.AdonLineSummary.PriodicDiscount
                                        + pd.LineSummary.ManualDiscount + pd.AdonLineSummary.ManualDiscount).toFixed(2)
                                        |
                                        number}}</span></li>
                                <li><span class="line-total"><span class="sub-title">Total: </span> <span class="num">
                                            {{ (pd.LineSummary.Total + pd.AdonLineSummary.Total
                                            - pd.LineSummary.ManualDiscount -
                                            pd.AdonLineSummary.ManualDiscount).toFixed(2) }} </span></span></li>
                            </ul>
                        </div>
                        <div class="summary-total">
                            <div class="tax-details">
                                <div class="holder">
                                    <dl>
                                        <dt>Before Tax:</dt>
                                        <dd>{{ (cart.CartSummary.Price - cart.CartSummary.ManualDiscount).toFixed(2) |
                                            number }}</dd>
                                    </dl>
                                    <dl>
                                        <dt>Tax:</dt>
                                        <dd>{{ cart.CartSummary.Tax | number }}</dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="row align-items-center total-amount">
                                <div class="col"><span class="icon-money"></span> Total: </div>
                                <div class="col text-right"> {{ (cart.CartSummary.Total -
                                    cart.CartSummary.ManualDiscount).toFixed(2) | number }} </div>
                            </div>
                        </div>
                        <div class="coupon">
                            <input type="text" [(ngModel)]="CouponCode" placeholder="Add Coupon">
                            <div class="text-center"><input type="submit" value="Apply Coupon" class="btn btn-primary"
                                    (click)="ApplyCoupon();"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>