/**bootstrap variables**/
$container-max-widths: (
  xl: 1600px
) !default;



/**custom variables**/
$base-font-family: 'Lato', Arial, sans-serif;
$white: #fff;
$masala: #3c3232;
$blue: #0e8ee9;
$red: #ff4a4a;
$bg-wrapper: #f3faff;
$sand: #f5f5f5;
$black: #000;
$shamrock: #29cba2;
$p-blue: #d5edff;
$tudora: #434343;
$footer-color:#151515;
$light-blue:#f7f9ff;
$riptide: #8bead2;
$wild-sand: #565656;