<!-- BEGIN: Subheader -->
<!-- <div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title">
				Welcome To CommerceLink Administration
			</h3>
		</div>
		<div>
		</div>
	</div>
</div> -->
<!-- END: Subheader -->
<div class="m-content">

	<div class="m-portlet">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<h3 class="m-portlet__head-text">
						Welcome To CommerceLink!
					</h3>
				</div>
			</div>
		</div>
		<div class="m-portlet__body">
			<div class="row">
				<div class="col-lg-6">
					CommerceLink Administration allows you to manage followings:
					<ul>
						<li>Application Settings</li>
						<li>Email Configurations</li>
						<li>Jobs Configurations</li>
						<li>Store Configurations</li>
						<li>Mapping Configurations</li>
						<li>Payment Methods</li>
						<li>Dimension Settings</li>
						<li>Configurable Objects</li>
					</ul>
				</div>
				<div class="col-lg-6">
					<img class="img-responsive" style="width:100%" src="./assets/cl-home-admin.jpg" />
				</div>
			</div>

		</div>
	</div>
	<!--Begin::Main Portlet-->

	<!--End::Main Portlet-->


</div>