<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Mapster" version="5.2.0" targetFramework="net461" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" targetFramework="net461" />
  <package id="Microsoft.Dynamics.Commerce.Diagnostics" version="10.8.22035.2" targetFramework="net461" />
  <package id="Microsoft.Dynamics.Commerce.PaymentSDK.Extensions.Portable" version="10.34.22055.4" targetFramework="net461" />
  <package id="Microsoft.Dynamics.Commerce.PaymentSDK.Portable" version="10.34.22055.4" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection" version="6.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="6.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging" version="6.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="6.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Debug" version="6.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Options" version="6.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Primitives" version="6.0.0" targetFramework="net461" />
  <package id="NewRelic.Agent.Api" version="8.33.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.Composition" version="6.0.0" targetFramework="net461" />
  <package id="System.Composition.AttributedModel" version="6.0.0" targetFramework="net461" />
  <package id="System.Composition.Convention" version="6.0.0" targetFramework="net461" />
  <package id="System.Composition.Hosting" version="6.0.0" targetFramework="net461" />
  <package id="System.Composition.Runtime" version="6.0.0" targetFramework="net461" />
  <package id="System.Composition.TypedParts" version="6.0.0" targetFramework="net461" />
  <package id="System.Diagnostics.DiagnosticSource" version="6.0.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.4" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net461" />
  <package id="System.Runtime.Serialization.Json" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.Serialization.Xml" version="4.3.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="System.Xml.XmlSerializer" version="4.3.0" targetFramework="net461" />
</packages>