@{
    ViewBag.Title = "Payment";
}

<div class="row">
    <div class="col-md-11">
        @using (Html.BeginForm("PaymentActions", "Payment", null, FormMethod.Post, new { @class = "form-horizontal", id = "GiftCardForm" }))
        {
            <div class="row" style="width:100%;float:left;">
                <div class="col-md-11" id="divData">
                    <p>@ViewBag.Message</p>
                </div>
            </div>

            <hr />
                <div>
                    <p class="headingStyle" style="font-size:large;">Payment</p>
                </div>
            <hr />

            

            <div class="row" style="width:100%;float:left;">
                <hr />
                <h3>Output Result:</h3>
                <hr />
                <div class="col-md-11" id="divData">
                    <p>@ViewBag.Result</p>
                </div>
            </div>

        }
    </div>
</div>
