<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog40">
        <arg xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  key="configFile" value="~/NLog.INT.config" />
      </factoryAdapter>
    </logging>
  </common>
  
  <connectionStrings>
    <add name="IntegrationDBEntities"
         connectionString="metadata=res://*/IntegrationModel.csdl|res://*/IntegrationModel.ssdl|res://*/IntegrationModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=CLTVINT;persist security info=True;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  
  <appSettings>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="DisableCustomMessage" value="false"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="ApplicationName" value="CL INT Web API" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="IsLoggingEnable" value="true" />
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>