@{
    ViewBag.Title = "Store";
}

<div class="row">
    <div class="col-md-11">
        @using (Html.BeginForm("StoreActions", "Store", null, FormMethod.Post, new { @class = "form-horizontal", id = "GiftCardForm" }))
        {
            <div class="row" style="width:100%;float:left;">
                <div class="col-md-11" id="divData">
                    <p>@ViewBag.Message</p>
                </div>
            </div>

            <hr />
                <div>
                    <p class="headingStyle" style="font-size:large;">Get Store Availibility</p>
                </div>
            <hr />

            <div class="row">
                <div class="col-md-6 form-group">
                    <label class="control-label col-md-4 small ">Item ID:</label>
                    <div class="col-md-8 paddingLeftRight0">
                        @Html.TextBox("itemid", null, new { id = "itemid", Class = "form-control" })
                        eg. 81121
                    </div>
                </div>
                <div class="col-md-6 form-group">
                    <label class="control-label col-md-4 small ">Variant ID:</label>
                    <div class="col-md-8 paddingLeftRight0">
                        @Html.TextBox("variantid", null, new { id = "variantid", Class = "form-control" })
                        eg. VN-002109
                    </div>
                </div>
            </div>
            <br />
            <div class="row" style="float: right">
                <div>
                    <input type="submit" class="btn btn-success col-md-push-2" value="Get Inventory Lookup" id="getInventory" name="command">
                </div>
            </div>

            <div class="row" style="width:100%;float:left;">
                <hr />
                <h3>Output Result:</h3>
                <hr />
                <div class="col-md-11" id="divData">
                    <p>@ViewBag.Result</p>
                </div>
            </div>

        }
    </div>
</div>
