<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Email Templates
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon flaticon-list-2"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="m-content" style="padding-top:0px;">
    <div class="m-form__actions add-button-div" align="right">
        <button (click)="showModalForAdd()" class="btn btn-primary">Add New</button>
    </div>
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__body">
            <!--begin: Datatable -->
            <div class="m_datatable" id="emailTemplate"></div>
            <!--end: Datatable -->
        </div>
        <div class="modal fade" id="emailTemplateModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div style="height:60px;" class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            Email Template - {{modalMode}}
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">
                                &times;
                            </span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <form (ngSubmit)="onSubmit(f.valid)" #f="ngForm" class="m-login__form m-form">

                            <div class="form-group">
                                <label class="form-control-label">
                                    Name :
                                </label>
                                <input maxlength="50" type="text" class="form-control m-input" required maxlength="50" required name="Name" #Name="ngModel" [(ngModel)]="emailTemplate.Name" autocomplete="off">
                                <small *ngIf="(Name.invalid && showError)" class="text-danger">
                                    Name is required.
                            </small>
                            <small *ngIf="Name.maxlength">
                                Name must be at less then 50 characters long.
                            </small>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">
                                    Subject :
                                </label>
                                <input maxlength="250" type="text" class="form-control m-input" required maxlength="250" required name="Subject" #Subject="ngModel" [(ngModel)]="emailTemplate.Subject"
                                    autocomplete="off">
                                    <small *ngIf="(Subject.invalid && showError)" class="text-danger">
                                            Subject is required.
                                    </small>
                                    <small *ngIf="Subject.maxlength">
                                        Subject must be at less then 250 characters long.
                                    </small>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">
                                    Body :
                                </label>
                                <!-- <textarea rows="6" class="form-control m-input" required name="Body" #Body="ngModel" [(ngModel)]="emailTemplate.Body"
                                    autocomplete="off"></textarea> -->
                                    <div rows="6" class="form-control m-input" ace-editor [(text)]="emailTemplate.Body" 
                                    [theme]="'eclipse'" required name="Body" #editor style="min-height: 140px; width:100%; overflow: auto;" autocomplete="off" #body  >
                    
                                    <small *ngIf="(showError)" class="text-danger">
                                            Body is required.
                                    </small>
                                </div>
                        </div>
                            <div class="form-group">
                                <label class="form-control-label">
                                    Footer :
                                </label>
                                <!-- <input type="text" class="form-control m-input" required maxlength="2000" required name="Footer" #Footer="ngModel" [(ngModel)]="emailTemplate.Footer"
                                    autocomplete="off"> -->
                                    <div  rows="6" class="form-control m-input" ace-editor [(text)]="emailTemplate.Footer" 
                                    [theme]="'eclipse'" required name="Footer" style="min-height: 70px; width:100%; overflow: auto;" autocomplete="off" #footerAce  >
                    
                                    <small *ngIf="(showError)" class="text-danger">
                                            Footer is required.
                                    </small>
                                    <!-- <small *ngIf="Footer.maxlength">
                                        Footer must be at less then 2000 characters long.
                                    </small> -->
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="checkbox-label-color m-checkbox m-checkbox--focus">
                                    <input type="checkbox" name="IsActive" #IsActive="ngModel" [(ngModel)]="emailTemplate.IsActive">Active
                                    <span></span>
                                </label>
                            </div>

                            <div style="height:50px;" class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                    Close
                                </button>
                                <button type="submit" class="btn btn-primary">
                                    {{buttonText}}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="templateDeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div style="max-width:42.7%;" class="modal-dialog" role="document">
                <div class="m-alert m-alert--icon m-alert--icon-solid m-alert--outline alert alert-danger alert-dismissible fade show" role="alert">
                    <div class="m-alert__icon">
                        <i class="flaticon-exclamation-1"></i>
                        <span></span>
                    </div>
                    <div style="padding:0px 0px 0px 10px;" class="m-alert__text">
                        Are you sure to delete this Email template?
                    </div>
                    <div class="m-alert__actions" style="width: 175px;">
                        <button type="button" class="btn btn-success btn-sm m-btn m-btn--pill m-btn--wide" data-dismiss="modal" aria-label="Close">
                            No
                        </button>
                        <button (click)="deleteConfirmedByUser()" type="button" class="btn btn-danger btn-sm m-btn m-btn--pill m-btn--wide" data-dismiss="modal"
                            aria-label="Close">
                            Yes
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>