<div class="row m-row--no-padding m-row--col-separator-xl">
    <div class="col-md-12 col-lg-6 col-xl-4" *ngFor="let prop of properties">
        <div class="m-widget24">
            <div class="m-widget24__item">
                <h4 class="m-widget24__title" style="margin-top: 1rem">
                    {{prop.Key}}
                </h4>
                <br>
                <a href="#" (click)="changeEvent(prop.Key)">
                    <span class="m-widget24__stats m--font-brand" style="margin-top: -2.0rem;font-size:15px">
                        {{prop.Value}}
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>