<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                    Sales Order
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                
            </ul>

        </div>
        <div style="width:20%">
            <div class="m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover" aria-expanded="true">

                <select (change)="changeMenu($event.target.value)" class="form-control m-input m-input--air">
                    <option value="1">Last 1 Day</option>
                    <option value="3" >Last 3 Days</option>
                    <option value="7" selected>Last Week</option>
                    <option value="15">Last 15 Days</option>
                    <option value="30">Last Month</option>
                    <option value="90">3 Months</option>
                    <option value="-1">All</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="m-content">
    <saleorder-widgets [timeOut]="timeOut" [filterByDayCountSubject]="filterByDayCount" [filterBy]="filterBy" [allEntitiesSubject]="allEntities"></saleorder-widgets>

    <saleorder-table [timeOut]="timeOut" [filterByDayCountSubject]="filterByDayCount" [filterBy]="filterBy" [allEntitiesSubject]="allEntities"></saleorder-table>
</div>