<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    
    
  </appSettings>
  <connectionStrings>
    <add name="SchedulerDbEntities" connectionString="metadata=res://*/SchedulerEdmx.csdl|res://*/SchedulerEdmx.ssdl|res://*/SchedulerEdmx.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VM01-AX-RND;initial catalog=JO_EdgeAXConnectorDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IntegrationDBEntities" connectionString="metadata=res://*/IntegrationModel.csdl|res://*/IntegrationModel.ssdl|res://*/IntegrationModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VM01-AX-RND;initial catalog=JO_EdgeAXConnectorDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="OnlineStoreDBEntities" connectionString="metadata=res://*/AXAdapterEdmx.csdl|res://*/AXAdapterEdmx.ssdl|res://*/AXAdapterEdmx.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VM01-AX-RND;initial catalog=JO_OnlineStoreDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="CommerceRuntimeConnectionString" connectionString="Data Source=VM01-AX-RND;Initial Catalog=JO_OnlineStoreDB;Integrated Security=SSPI" />-->
    <!--<add name="CommerceRuntimeConnectionStringRemote" connectionString="Data Source=192.168.0.110,1433;Initial Catalog=JO_OnlineStoreDB;Persist Security Info=True;User ID=sa;Password=pass@word1;" />-->
    <!--<add name="CustomClaimsProviderConnectionstring" connectionString="Server=192.168.0.110;Database=SpSqlAuthz;Trusted_Connection=Yes" />-->
    <!--<add name="FBAConnectionString" connectionString="Server=192.168.0.110;Database=SpFBA;Trusted_Connection=Yes" />-->
    <add name="OnlineStoreDBConnectionString" connectionString="Data Source=VM01-AX-RND;Initial Catalog=JO_OnlineStoreDB;Trusted_Connection=Yes" />
    <add name="ConnectorDBConnectionString" connectionString="Data Source=VM01-AX-RND;Initial Catalog=JO_EdgeAXConnectorDB;Trusted_Connection=Yes" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
