<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true"
      internalLogLevel="Trace"
      internalLogFile="..\..\..\Logs\nlog-app.log">
  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets aynsc="true">
    <!-- file targets -->
    <target name="Debugfile" xsi:type="File" fileName="${basedir}/Logs/${shortdate}_Debug.log" autoFlush="false" keepFileOpen="true"
   layout="${longdate} ${level:upperCase=true}: ${message}${newline}(${stacktrace}) ${exception:format=ToString}${newline}${newline}"/>
    
    <target name="file" xsi:type="File" fileName="${basedir}/Logs/${longdate}_file.log" autoFlush="false" keepFileOpen="true" 
    layout="${longdate} ${level:upperCase=true}: ${message}${newline}(${stacktrace}) ${exception:format=ToString}"/>
        
    
        <target name="WarnFile" xsi:type="File" fileName="${basedir}/Logs/${shortdate}_Warn.log" autoFlush="false" keepFileOpen="true" 
    layout="${longdate} ${level:upperCase=true}: ${message}${newline}(${stacktrace}) ${exception:format=ToString}" />

    <target name="asyncFile" xsi:type="AsyncWrapper" overflowAction="Block" queueLimit="1000000"
            batchSize="1000" timeToSleepBetweenBatches="0">
      <target xsi:type="File" name="f" fileName="${basedir}/Logs/${shortdate}_asyncFIle.log" autoFlush="false" keepFileOpen="true"
            layout="${longdate} ${uppercase:${level}} ${message}"/>
    </target>
    
  </targets>
  <rules>
    <!-- add your logging rules here -->
    <!--<logger name="*" minlevel="Debug" writeTo="asyncFile,database" />-->

    <!--<logger name="*" minlevel="Fatal" writeTo="gmail" />-->
    <logger name="*" minlevel="Trace" writeTo="asyncFile" />
    <!--<logger name="*" level="Error" writeTo="SalesOrderGmail" />-->
    <logger name="*" minlevel="Info" writeTo="asyncFile" />
    
    <logger name="*" minlevel="Warn"  writeTo="WarnFile" />
    <logger name="*" minlevel="Debug" writeTo="Debugfile" />

  </rules>
</nlog>