<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="list-group">
         
        <a [routerLink]="['/customer']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-user"></i>&nbsp;
            <span>{{ 'Customer' }}</span>
        </a>
        
        <a [routerLink]="['/customer/contract']"  [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-cart-plus"></i>&nbsp;
            <span>{{ 'Cart'}}</span>
        </a>
    </div>
    <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-{{collapsed?'right':'left'}}"></i>&nbsp;
        <span>{{ 'Collapse Sidebar' }}</span>
    </div>

    
</nav>
