<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Manage Actions
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    {{storeName}}
                </li>
            </ul>

        </div>
        <div class="m-form__actions add-button-div" align="right">
            <br>
            <button (click)="openSwaggerUI()" class="btn btn-primary">CommerceLink API</button>
        </div>
    </div>
</div>

<br>
<div class="m-content" style="height: 100%" style="padding-top:0px;">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__body">
            <div class="row">
                <div class="col-lg-3" style="max-height: 465px;overflow-y: scroll;">
                    <div style="font-size: 12.5px;" class="list-group">
                        <a style="word-wrap: break-word;" href="#" [ngClass]="{'active' : selectedAction == a}" *ngFor="let a of actions" (click)="setAction(a)"
                            class="list-group-item">{{a.ActionName}} / {{a.RequestType}} </a>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="row" *ngIf="selectedAction.ActionName != null">
                        <div class="col-lg-4">
                            <h3>{{selectedAction.ActionName}}</h3>
                            ( {{selectedAction.APIURL}} )
                        </div>
                        <div class="col-lg-8">
                            <br>
                            <div class="m-form__actions add-button-div" align="right">
                                <button (click)="callApi()" [disabled]="requestInProgress" class="btn btn-primary">Execute</button>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row" *ngIf="selectedAction.ActionName">
                        <div class="col-lg-6">
                            Request Method : {{selectedAction.RequestType}}
                            <br> Route : {{selectedAction.ActionRoute}}
                        </div>
                        <div class="col-lg-6">
                            Total Parameters : {{selectedAction.ActionParams.length}}
                        </div>
                    </div>
                    <div class="row" *ngIf="selectedAction.ActionName">
                        <div class="col-lg-12">
                            <br>
                            <div class="form-group">
                                <label>Response:</label>
                                <div id="text"  class="form-control" ace-editor #editor  [(text)]="response" style="height: 300px; width:100%; overflow: auto;" [theme]="'eclipse'"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="m_modal_5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Request Action
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <div class="modal-body" *ngIf="selectedAction">
                <ng-container *ngFor="let param of selectedAction.ActionParams;let index = index;">
                    <div class="form-group">
                        <label for="message-text" class="form-control-label">
                            {{param.Key}}
                        </label>
                        <textarea [(ngModel)]="selectedAction.ActionParams[index].Value" class="form-control"></textarea>
                    </div>
                </ng-container>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                </button>
                <button type="button" (click)="sendRequest()" class="btn btn-primary">
                    Send Request
                </button>
            </div>
        </div>
    </div>
</div>

