<!-- <header id="header">
        <div class="container-fluid">
          <div class="row align-items-center">
            <div class="col-4">
              <a href="#" class="logo"><img src="../../../../assets/images/logo.png" alt="TeamViewer"></a>
            </div>
            <div class="col-8 text-right">
              <ul class="top-links list-inlilne">
                <li class="list-inline-item">
                  <a href="#" class="notification">
                    <span class="icon-bell"></span>
                    <span class="count">3</span>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#" class="profile-name">
                    <span class="avatar">SJ</span>
                    <span class="name" >{{this.salesRepName}}</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </header> -->