<form [formGroup]="updateCustomerInfo">
<div class="content-block">
      <div class="content-spinner customer-spinner" [ngClass]="this.loading ? 'active' : '' ">
            <div class="holder">
                  <img src="../../../../assets/images/spinner1.gif" />
            </div>
      </div>
      <div class="content">
            <div class="card contact" [formGroup]="contactSection">
                  <div class="header">
                        <span class="card-title">Contact Person
                              <select class="fake-select ml-2" *ngIf="this.contactPersons" (change)="getSelectedPerson($event.target.value)">
                                    <option *ngFor="let contact of contactPersons" value="{{contact.ContactPersonId}}">{{contact.FirstName}}
                                          {{contact.LastName}} </option>
                              </select>
                        </span>

                        <ul class="user-links list-inlilne" *ngIf="this.contactPerson">
                              <li *ngIf="updateContactPencil" class="list-inline-item"><a (click)="UpdateContactPerson(false)"><span
                                                class="icon-pencil-edit-button"></span></a></li>
                              <li *ngIf="!updateContactPencil"><a (click)="cancelContactPerson()"><i class="icon-remove"></i></a></li>
                              <li *ngIf="!updateContactPencil"><a (click)="SaveContactPerson()"><i class="icon-floppy-o"></i></a></li>
                              <li *ngIf="updateContactPencil"><a (click)="UpdateContactPerson(true)"><i class="icon-plus"></i></a></li>
                        </ul>
                        <ul class="user-links list-inlilne" *ngIf="!this.contactPerson">
                              <li *ngIf="updateContactPencil"><a (click)="UpdateContactPerson(true)"><i class="icon-plus"></i></a></li>
                        </ul>
                  </div>
                  <div class="card-body no-contact" *ngIf="!this.contactPerson">
                        <span>No Contact Person Exist</span>
                  </div>
                  <div class="card-body" *ngIf="contactPerson">
                        <div class="row">
                              <div class="col-sm-6">
                                    <!--
                                    <dl class="details-list">
                                          <dt>Language:</dt>
                                       <dd><label *ngIf="updateContactPencil">{{language}}</label>
                                          <dd><label *ngIf="updateContactPencil">{{this.contactlanguage}}</label>
                                                <select *ngIf="!updateContactPencil" class="form-control form-control-sm" formControlName="cpLanguage" [(ngModel)]="contactPerson.Language">
                                                      <option >Please select</option>
                                                      <option *ngFor="let lang of languages" [value]="lang.Value">{{lang.Text}}</option>
                                                </select>
                                          </dd>
                                    </dl>
                                    -->

                                    <dl class="details-list">
                                          <dt>Salutation:</dt>
                                          <dd><label *ngIf="updateContactPencil">{{contactPerson.Title}}</label>
                                                <select *ngIf="!updateContactPencil" class="form-control form-control-sm" formControlName="cpSalutation" [(ngModel)]="contactPerson.Title">
                                                      <option *ngFor="let title of titles" [value]="title.Value">{{title.Text}}</option>
                                                </select></dd>
                                    </dl>

                                    <dl class="details-list">
                                          <dt>First Name:</dt>
                                          <dd><label *ngIf="updateContactPencil">{{contactPerson.FirstName}}</label>
                                                <input *ngIf="!updateContactPencil" type="text" class="form-control form-control-sm" formControlName="cpFirstName" placeholder="First Name"
                                                      required [(ngModel)]="contactPerson.FirstName"></dd>
                                    </dl>

                                    <dl class="details-list">
                                          <dt>Last Name:</dt>
                                          <dd>
                                                <label *ngIf="updateContactPencil">
                                                      {{contactPerson.LastName}}
                                                </label>
                                                <input *ngIf="!updateContactPencil" type="text" class="form-control form-control-sm" formControlName="cpLastName" placeholder="Last Name"
                                                      required [(ngModel)]="contactPerson.LastName" maxlength="25"></dd>
                                    </dl>

                                    <dl class="details-list">
                                          <dt>Email:</dt>
                                          <dd><label class="add" *ngIf="updateContactPencil">{{contactPerson.Email}}</label>
                                                <input *ngIf="!updateContactPencil" type="Email" class="form-control form-control-sm" formControlName="cpEmail" placeholder="sample@gmail.com"
                                                      required [(ngModel)]="contactPerson.Email">
                                          </dd>
                                    </dl>

                                    <dl class="details-list">
                                          <dt>Business Phone:</dt>
                                          <dd> <label class="add" *ngIf="updateContactPencil">{{contactPerson.Phone}}</label>
                                                <input *ngIf="!updateContactPencil" type="text" class="form-control form-control-sm" formControlName="cpPhone" placeholder="Phone"
                                                      mask='[+0-9]' required [(ngModel)]="contactPerson.Phone">
                                          </dd>
                                    </dl>

                                    <dl class="details-list">
                                          <dt>AddressLine1:</dt>
                                          <dd> <label class="add" *ngIf="updateContactPencil">{{contactPerson.Street}}</label>
                                                <input *ngIf="!updateContactPencil" type="text" class="form-control form-control-sm" formControlName="cpAddress" placeholder="Address"
                                                      required [(ngModel)]="contactPerson.Street">
                                          </dd>
                                    </dl>
                              </div>
                              <div class="col-sm-6">
                                    <dl class="details-list">
                                          <dt>Zip Code:</dt>
                                          <dd> <label *ngIf="updateContactPencil">{{contactPerson.ZipCode}}</label>
                                                <input *ngIf="!updateContactPencil" type="text" class="form-control form-control-sm" formControlName="cpZipCode" placeholder="ZipCode"
                                                      required [(ngModel)]="contactPerson.ZipCode">
                                          </dd>
                                    </dl>
                                    <dl class="details-list">
                                          <dt>City:</dt>
                                          <dd> <label *ngIf="updateContactPencil">{{contactPerson.City}}</label>
                                                <input *ngIf="!updateContactPencil" type="text" class="form-control form-control-sm" formControlName="cpCity" placeholder="City"
                                                      required [(ngModel)]="contactPerson.City">
                                          </dd>
                                    </dl>

                                    <dl class="details-list">
                                          <dt>Country:</dt>
                                          <dd><label *ngIf="updateContactPencil">{{this.contactCountry}}</label>
                                                <select *ngIf="!updateContactPencil" class="form-control form-control-sm" formControlName="cpCountry" [(ngModel)]="contactPerson.Country">
                                                      <option>Please select</option>
                                                      <option *ngFor="let country of countries" [value]="country.Value">{{country.Text}}</option>
                                                </select>
                                    </dl>
                                    <!--
                                    <dl class="details-list">
                                          <dt>Invoice/Letter Mail:</dt>
                                          <dd>
                                                <label *ngIf="updateContactPencil"></label>
                                                <input *ngIf="!updateContactPencil" type="text" class="form-control form-control-sm" formControlName="cpInvoiceLetter" placeholder="Invoice Letter"
                                                      required>
                                          </dd>
                                    </dl>
                                    -->
                              </div>
                        </div>
                  </div>
            </div>

            <div class="card address" [formGroup]="customerSection">
                  <div class="header">
                        <span class="card-title">Delivery Address</span>
                        <ul class="user-links" *ngIf="customerInfo">
                              <li *ngIf="updateCustomerPencil" (click)="UpdateCustomerInfo()"><a><span class="icon-pencil-edit-button"></span></a></li>
                              <li *ngIf="!updateCustomerPencil" (click)="CancelCustomerInfo()"><a><i class="icon-remove"></i></a></li>
                              <li *ngIf="!updateCustomerPencil" (click)="SaveCustomerInfo()"><a><i class="icon-floppy-o"></i></a></li>
                        </ul>
                  </div>
                  <div class="card-body" *ngIf="customerInfo">
                        <!---
                        <dl class="details-list">
                              <dt>Account #</dt>
                              <dd><label>{{customerInfo.AccountNumber}}</label></dd>
                        </dl>
                        <dl class="details-list">
                              <dt>Account Name:</dt>
                              <dd><label>{{customerInfo.Name}}</label></dd>
                        </dl>
                        -->
                        <dl class="details-list">
                              <dt>Address Line 1:</dt>
                              <dd><input *ngIf="!updateCustomerPencil" type="text" class="form-control form-control-sm" formControlName="customerAddress"
                                          placeholder="Enter Address" required [(ngModel)]="address.Street"><label *ngIf="updateCustomerPencil">{{address.Street}}</label></dd>

                        </dl>

                        <dl class="details-list">
                              <dt>Zip Code:</dt>

                              <dd><input *ngIf="!updateCustomerPencil" type="text" class="form-control form-control-sm" formControlName="customerZipCode"
                                          placeholder="Enter Zip Code" required [(ngModel)]="address.ZipCode">
                                    <label *ngIf="updateCustomerPencil">{{address.ZipCode}}</label>
                              </dd>
                        </dl>

                        <dl class="details-list">
                              <dt>City:</dt>
                              <dd><input *ngIf="!updateCustomerPencil" type="text" class="form-control form-control-sm" formControlName="customerCity"
                                          placeholder="Enter City" required [(ngModel)]="address.City"><label *ngIf="updateCustomerPencil">{{address.City}}</label></dd>

                        </dl>

                        <dl class="details-list">
                              <dt>Country:</dt>

                              <dd><label *ngIf="updateCustomerPencil">{{this.addressCountry }}</label>
                                    <select *ngIf="!updateCustomerPencil" class="form-control form-control-sm" formControlName="customerCountry" [(ngModel)]="address.ThreeLetterISORegionName">
                                          <option>Please select</option>
                                          <option *ngFor="let country of countries" [value]="country.Value">{{country.Text}}</option>
                                    </select>

                        </dl>
                        <!--
                        <dl class="details-list">
                              <dt>State:</dt>
                              <dd><label *ngIf="updateCustomerPencil">{{address.State}}</label>
                                    <input *ngIf="!updateCustomerPencil" type="text" class="form-control form-control-sm" formControlName="customerState" placeholder="State"
                                          required [(ngModel)]="address.State">
                              </dd>
                        </dl>
                        -->
                        <!--
                        <dl class="details-list">
                              <dt>Currency:</dt>
                              <dd><label *ngIf="updateCustomerPencil">{{customerInfo.CurrencyCode}}</label>
                                    <select *ngIf="!updateCustomerPencil" class="form-control form-control-sm" formControlName="customerCurrencyCode" [(ngModel)]="customerInfo.CurrencyCode">
                        <option >Please select</option>
                        <option *ngFor="let currency of currencies" [value]="currency.Value">{{currency.Text}}</option>
                     </select>
                        </dl>
                  -->
                        <!--
                        <dl class="details-list">
                              <dt>Language:</dt>
                              <dd><label *ngIf="updateCustomerPencil">{{this.customerlanguage}}</label>
                                    <select *ngIf="!updateCustomerPencil" class="form-control form-control-sm" formControlName="customerLanguage" [(ngModel)]="customerInfo.Language">
                        <option >Please select</option>
                        <option *ngFor="let lang of languages" [value]="lang.Value">{{lang.Text}}</option>
                     </select>
                              </dd>

                        </dl>
                        -->
                  </div>
            </div>


            <div class="card invoice" [formGroup]="addressSection">
                  <div class="header">
                        <span class="card-title">Invoice Address</span>
                        <ul class="user-links" *ngIf="customerInfo">
                              <li *ngIf="updateAdressPencil" (click)="UpdateContactAdress()"><a><span class="icon-pencil-edit-button"></span></a></li>
                              <li *ngIf="!updateAdressPencil" (click)="CancelSave()"><a><i class="icon-remove"></i></a></li>
                              <li *ngIf="!updateAdressPencil" (click)="SaveContactAdress()"><a><i class="icon-floppy-o"></i></a></li>
                        </ul>
                  </div>
                  <div class="card-body">
                        <dl class="details-list" *ngIf="customerInfo">
                              <dt>Address Line 1:</dt>
                              <dd><label *ngIf="updateAdressPencil">{{invoiceAddress.Street}}</label>
                                    <input *ngIf="!updateAdressPencil" type="text" class="form-control form-control-sm" formControlName="addressLine1" placeholder="Address"
                                          required [(ngModel)]="invoiceAddress.Street">
                              </dd>
                        </dl>
                        <dl class="details-list">
                              <dt>Zip Code:</dt>
                              <dd><label *ngIf="updateAdressPencil">{{invoiceAddress.ZipCode}}</label>
                                    <input *ngIf="!updateAdressPencil" type="text" class="form-control form-control-sm" formControlName="zipCode" placeholder="Zip Code"
                                          required [(ngModel)]="invoiceAddress.ZipCode">
                              </dd>
                        </dl>
                        <dl class="details-list">
                              <dt>City:</dt>
                              <dd><label *ngIf="updateAdressPencil">{{invoiceAddress.City}}</label>
                                    <input *ngIf="!updateAdressPencil" type="text" class="form-control form-control-sm" formControlName="addressCity" placeholder="City"
                                          required [(ngModel)]="invoiceAddress.City">
                              </dd>
                        </dl>
                        <dl class="details-list">
                              <dt>Country:</dt>
                              <dd><label *ngIf="updateAdressPencil">{{this.invoicecountry}}</label>
                                    <select *ngIf="!updateAdressPencil" class="form-control form-control-sm" formControlName="addressCountry" [(ngModel)]="invoiceAddress.ThreeLetterISORegionName">
                                          <option>Please select</option>
                                          <option *ngFor="let country of countries" [value]="country.Value">{{
                                                country.Text }}</option>
                                    </select>
                              </dd>
                        </dl>
                        <!--
                        <dl class="details-list">
                              <dt>State:</dt>
                              <dd><label *ngIf="updateAdressPencil">{{invoiceAddress.State}}</label>
                                    <input *ngIf="!updateAdressPencil" type="text" class="form-control form-control-sm ng-untouched ng-pristine ng-valid" formControlName="addressState"
                                          placeholder="State" required [(ngModel)]="invoiceAddress.State">
                              </dd>
                        </dl>
                        -->
                        <!--
                        <dl class="details-list">
                              <dt>Currency:</dt>
                              <dd><label *ngIf="updateAdressPencil">{{customerInfo.CurrencyCode}}</label>
                                    <select *ngIf="!updateAdressPencil" class="form-control form-control-sm" formControlName="currencyCode" [(ngModel)]="customerInfo.CurrencyCode">
                        <option >Please select</option>
                        <option *ngFor="let currency of currencies" [value]="currency.Value">{{currency.Text}}</option>
                     </select>
                        </dl>
                  -->
                        <!--
                        <dl class="details-list">
                              <dt>Language:</dt>
                              <dd><label *ngIf="updateAdressPencil">{{this.customerlanguage}}</label>
                                    <select *ngIf="!updateAdressPencil" class="form-control form-control-sm" formControlName="language" [(ngModel)]="customerInfo.Language">
                        <option >Please select</option>
                        <option *ngFor="let lang of languages" [value]="lang.Value">{{lang.Text}}</option>
                     </select>
                              </dd>

                        </dl>
                        -->

                  </div>
            </div>

            <div class="card tax" [formGroup]="taxSection">
                  <div class="header">
                        <span class="card-title">Tax Information</span>
                        <ul class="user-links list-inlilne" *ngIf="customerInfo">
                              <li *ngIf="updateTaxPencil" (click)="UpdateTaxInfo()" class="list-inline-item"><a><span
                                                class="icon-pencil-edit-button"></span></a></li>
                              <li *ngIf="!updateTaxPencil" (click)="CancelTaxInfo()"><a><i class="icon-remove"></i></a></li>
                              <li *ngIf="!updateTaxPencil" (click)="SaveTaxInfo()"><a><i class="icon-floppy-o"></i></a></li>
                        </ul>
                  </div>
                  <div class="card-body" *ngIf="customerInfo">
                        <dl class="details-list">
                              <dt>VAT Group:</dt>
                              <dd><label>{{customerInfo.SalesTaxGroup}}</label>
                                    <!--
                                    <input *ngIf="!updateTaxPencil" type="text" class="form-control form-control-sm" formControlName="vatGroup" placeholder="VatGroup"
                                          required [(ngModel)]="customerInfo.SalesTaxGroup">
                                          -->
                              </dd>
                        </dl>
                        <dl class="details-list">
                              <dt>TAX Exempt Number:</dt>
                              <dd><label *ngIf="updateTaxPencil">{{customerInfo.VatNumber}}</label>
                                    <input *ngIf="!updateTaxPencil" type="text" class="form-control form-control-sm" (focusout)="validateVatNumber($event.target.value)"
                                          formControlName="taxExemptNumber" placeholder="TaxExemptNumber" required [(ngModel)]="customerInfo.VatNumber">
                              </dd>
                        </dl>
                  </div>
            </div>

      </div>

