<div class="row">
  <div class="col-md-12">
      <div class="card">
          <div class="card-body">
              <div class="row flexNoWrap">
                  <div class="col-md-12">
                      <h6 class="headingTV">Custom Order Details</h6>
                      <hr>
                  </div>
                  <div class="col-xs-12">
                      <div class="custom-control custom-checkbox">
                          <input type="checkbox" checked="true" class="custom-control-input" id="defaultUnchecked">
                          <label class="custom-control-label labelCustom" for="defaultUnchecked">Show Salutation on Invoice</label>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                          <label for="comment" class="labelCustom">Custom Description: (442 Character, 9 lines available)</label>
                          <textarea class="form-control" rows="4"></textarea>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                          <label for="comment" class="labelCustom">Comments:</label>
                          <textarea class="form-control" rows="4"></textarea>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>